<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.mbg.mapper3.ResourcedirectoryMapper">
  <resultMap id="BaseResultMap" type="com.learn.model.Resourcedirectory">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
    <result column="PID" jdbcType="DECIMAL" property="pid" />
    <result column="SINDEX" jdbcType="DECIMAL" property="sindex" />
    <result column="CREATEDATE" jdbcType="TIMESTAMP" property="createdate" />
    <result column="ISDELETE" jdbcType="DECIMAL" property="isdelete" />
    <result column="DELETETIME" jdbcType="TIMESTAMP" property="deletetime" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
  </resultMap>
  <select id="findAll" resultType="com.learn.model.Resourcedirectory">
    select id,title,type,pid,sindex,createdate,isdelete,deletetime,code from Resourcedirectory
  </select>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, TITLE, TYPE, PID, SINDEX, CREATEDATE, ISDELETE, DELETETIME, CODE
  </sql>
  <select id="selectByExample" parameterType="com.learn.model.ResourcedirectoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from RESOURCEDIRECTORY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from RESOURCEDIRECTORY
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from RESOURCEDIRECTORY
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.learn.model.ResourcedirectoryExample">
    delete from RESOURCEDIRECTORY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.learn.model.Resourcedirectory">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Short">
      Oracle
    </selectKey>
    insert into RESOURCEDIRECTORY (TITLE, TYPE, PID, 
      SINDEX, CREATEDATE, ISDELETE, 
      DELETETIME, CODE)
    values (#{title,jdbcType=VARCHAR}, #{type,jdbcType=DECIMAL}, #{pid,jdbcType=DECIMAL}, 
      #{sindex,jdbcType=DECIMAL}, #{createdate,jdbcType=TIMESTAMP}, #{isdelete,jdbcType=DECIMAL}, 
      #{deletetime,jdbcType=TIMESTAMP}, #{code,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.learn.model.Resourcedirectory">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Short">
      Oracle
    </selectKey>
    insert into RESOURCEDIRECTORY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        TITLE,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="pid != null">
        PID,
      </if>
      <if test="sindex != null">
        SINDEX,
      </if>
      <if test="createdate != null">
        CREATEDATE,
      </if>
      <if test="isdelete != null">
        ISDELETE,
      </if>
      <if test="deletetime != null">
        DELETETIME,
      </if>
      <if test="code != null">
        CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=DECIMAL},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=DECIMAL},
      </if>
      <if test="sindex != null">
        #{sindex,jdbcType=DECIMAL},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=DECIMAL},
      </if>
      <if test="deletetime != null">
        #{deletetime,jdbcType=TIMESTAMP},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.learn.model.ResourcedirectoryExample" resultType="java.lang.Long">
    select count(*) from RESOURCEDIRECTORY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update RESOURCEDIRECTORY
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.title != null">
        TITLE = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        TYPE = #{record.type,jdbcType=DECIMAL},
      </if>
      <if test="record.pid != null">
        PID = #{record.pid,jdbcType=DECIMAL},
      </if>
      <if test="record.sindex != null">
        SINDEX = #{record.sindex,jdbcType=DECIMAL},
      </if>
      <if test="record.createdate != null">
        CREATEDATE = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isdelete != null">
        ISDELETE = #{record.isdelete,jdbcType=DECIMAL},
      </if>
      <if test="record.deletetime != null">
        DELETETIME = #{record.deletetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.code != null">
        CODE = #{record.code,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update RESOURCEDIRECTORY
    set ID = #{record.id,jdbcType=DECIMAL},
      TITLE = #{record.title,jdbcType=VARCHAR},
      TYPE = #{record.type,jdbcType=DECIMAL},
      PID = #{record.pid,jdbcType=DECIMAL},
      SINDEX = #{record.sindex,jdbcType=DECIMAL},
      CREATEDATE = #{record.createdate,jdbcType=TIMESTAMP},
      ISDELETE = #{record.isdelete,jdbcType=DECIMAL},
      DELETETIME = #{record.deletetime,jdbcType=TIMESTAMP},
      CODE = #{record.code,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.learn.model.Resourcedirectory">
    update RESOURCEDIRECTORY
    <set>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=DECIMAL},
      </if>
      <if test="pid != null">
        PID = #{pid,jdbcType=DECIMAL},
      </if>
      <if test="sindex != null">
        SINDEX = #{sindex,jdbcType=DECIMAL},
      </if>
      <if test="createdate != null">
        CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelete != null">
        ISDELETE = #{isdelete,jdbcType=DECIMAL},
      </if>
      <if test="deletetime != null">
        DELETETIME = #{deletetime,jdbcType=TIMESTAMP},
      </if>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.learn.model.Resourcedirectory">
    update RESOURCEDIRECTORY
    set TITLE = #{title,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=DECIMAL},
      PID = #{pid,jdbcType=DECIMAL},
      SINDEX = #{sindex,jdbcType=DECIMAL},
      CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      ISDELETE = #{isdelete,jdbcType=DECIMAL},
      DELETETIME = #{deletetime,jdbcType=TIMESTAMP},
      CODE = #{code,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>